[Unit]
Description=multistreamer
After=network.target

[Service]
ExecStart=/opt/multistreamer/bin/multistreamer -c /etc/multistreamer/config.yaml run
ExecStartPre=/opt/multistreamer/bin/multistreamer -c /etc/multistreamer/config.yaml check
User=multistreamer

[Install]
WantedBy=multi-user.target
