html {
    background-color: #1b2836;
    color: #e1e8ed;
}

div#chatinput, div.chatpicker, div.chatmessage {
    background-color: #314963;
    color: #e1e8ed;
}

.pure-form select, select {
    background-color: #314963;
    color: #e1e8ed;
    border: 1px solid #000;
    box-shadow: none;
}

.pure-form input[type="text"], input[type="text"], div.message input {
    background-color: #314963;
    border: 1px solid #000;
    box-shadow: none;
}

.pure-form input[type="text"][disabled], input[type="text"][disabled] .pure-form input[type="text"][readonly], input[type="text"][readonly] {
    color: #a0b2bf;
}

.pure-form textarea, textarea {
    background-color: #314963;
    border: 1px solid #000;
    box-shadow: none;
}

li.pure-menu-item a.pure-menu-link {
    color: #6b6b6b;
}

li.pure-menu-item.pure-menu-selected a.pure-menu-link {
    color: #e1e8ed;
}

a.pure-menu-link:hover {
    background-color: #303030;
    color: #e1e8ed;
}

a.pure-menu-link:visited {
    color: #e1e8ed;
}

.pure-form legend {
    color: #e1e8ed;
}
